body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

section {
  padding: 100px 0;
}

h1 {
  font-size: 45px;
  color: #212529;
  font-weight: 700;
}

h3 {
  margin: 20px 0 55px;
  color: #6c757d;
  font-style: italic;
  font-size: 20px;
}

header {
  background-color: #212529;
  position: fixed;
  z-index: 1;
  padding: 22px 0;
  width: 100%;
}
header .menu .imgbox {
  width: 150px;
}
header .menu nav a {
  font-size: 18px;
  font-weight: 300;
  margin-right: 20px;
  transition: 300ms color;
  cursor: pointer;
}
header .menu nav a:hover {
  color: #ffc800;
}
header .menu .iconbox {
  border: 2px solid rgba(255, 255, 255, 0.1450980392);
  padding: 8px;
  border-radius: 4px;
  display: none;
}
header .menu .iconbox h2 {
  color: rgba(255, 255, 255, 0.5490196078);
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
}
header .menu .iconbox .icon {
  color: rgba(255, 255, 255, 0.5490196078);
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  header .menu nav {
    display: none;
  }
  header .menu .iconbox {
    display: block;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

#welcome {
  background-image: url(assets/header-bg.jpg);
  background-position: center center;
  background-size: cover;
  color: #fff;
}
#welcome .textbox {
  padding: 30px 0;
}
#welcome .textbox h3 {
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  color: #fff;
}
#welcome .textbox h1 {
  font-size: 40px;
  margin: 25px 0 40px;
  color: #fff;
}
#welcome .textbox .btn {
  padding: 15px 30px;
  background-color: #ffc800;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  transition: 300ms background-color;
}
#welcome .textbox .btn:hover {
  background-color: #d9aa00;
}
@media screen and (min-width: 576px) {
  #welcome .textbox h3 {
    font-size: 35px;
  }
  #welcome .textbox h1 {
    font-size: 50px;
    margin-bottom: 30px 0 50px;
  }
  #welcome .textbox .btn {
    padding: 20px 55px;
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  #welcome .textbox {
    padding: 100px 0;
  }
  #welcome .textbox h1 {
    font-size: 60px;
  }
}
@media screen and (min-width: 992px) {
  #welcome .textbox {
    padding: 140px 0;
  }
  #welcome .textbox h3 {
    font-size: 45px;
  }
  #welcome .textbox h1 {
    font-size: 70px;
  }
}

#services .box .icon {
  width: 130px;
  height: 130px;
  line-height: 130px;
  border-radius: 50%;
  color: #fff;
  font-size: 55px;
  background-color: #ffc800;
  display: inline-block;
}
#services .box h2 {
  margin: 20px 0;
  font-weight: 700;
  font-size: 24px;
}
#services .box p {
  line-height: 1.4;
  font-size: 20px;
  color: #6c757d;
}
@media screen and (max-width: 768px) {
  #services .box p {
    margin-bottom: 30px;
  }
}

#portfolio {
  background-color: #f8f9fa;
}
#portfolio .box {
  margin-bottom: 30px;
}
#portfolio .box .imgbox {
  position: relative;
}
#portfolio .box .imgbox:hover .overlay {
  opacity: 1;
}
#portfolio .box .imgbox .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 200, 0, 0.9019607843);
  opacity: 0;
  cursor: pointer;
  transition: 300ms opacity;
}
#portfolio .box .imgbox .overlay .icon {
  font-size: 50px;
  color: #fff;
}
#portfolio .box .textbox {
  padding: 20px;
  background-color: #fff;
}
#portfolio .box .textbox h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.8;
}
#portfolio .box .textbox h4 {
  font-size: 20px;
  color: #6c757d;
  font-style: italic;
}

#about .box {
  display: flex;
}
#about .box .imgbox {
  width: 100px;
  height: 100%;
  border: 4px solid #e9ecef;
  border-radius: 100%;
}
#about .box .textbox {
  width: 515px;
  padding: 0px 0px 20px 20px;
}
#about .box .textbox h2 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 10px;
}
#about .box .textbox p {
  color: #6c757d;
  line-height: 1.55;
  font-size: 20px;
}
#about .text {
  width: 80px;
  height: 80px;
  border: 4px solid #e9ecef;
  border-radius: 100%;
  background-color: #ffc800;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about .text h4 {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  #about .box {
    justify-content: start;
  }
  #about .box .textbox {
    width: 285px;
    padding: 0px 30px 20px;
  }
  #about .box .textbox h2 {
    font-size: 24px;
  }
  #about .box .imgbox {
    width: 120px;
    height: 120px;
    border: 7px solid #e9ecef;
  }
  #about .box1, #about .box3 {
    flex-direction: row-reverse;
  }
  #about .box1 .textbox, #about .box3 .textbox {
    text-align: right;
  }
  #about .box2, #about .box4 {
    justify-content: end;
  }
  #about .yellow-circle {
    justify-content: center;
  }
  #about .yellow-circle .text {
    width: 120px;
    height: 120px;
    border: 7px solid #e9ecef;
  }
  #about .yellow-circle .text h4 {
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) {
  #about .box .textbox {
    width: 385px;
  }
  #about .box .textbox h2 {
    font-size: 26px;
  }
  #about .box .imgbox {
    width: 150px;
    height: 150px;
  }
  #about .yellow-circle {
    margin-left: 10px;
  }
  #about .yellow-circle .text {
    width: 150px;
    height: 150px;
  }
  #about .yellow-circle .text h4 {
    font-size: 18px;
  }
  #about .box1 .imgbox, #about .box3 .imgbox {
    margin-left: 10px;
  }
  #about .box1 .textbox, #about .box3 .textbox {
    padding-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  #about .box .textbox {
    width: 455px;
  }
  #about .box .imgbox {
    width: 170px;
    height: 170px;
  }
  #about .box1 .imgbox, #about .box3 .imgbox {
    margin-left: 30px;
  }
  #about .box1 .textbox, #about .box3 .textbox {
    padding-right: 0;
  }
  #about .yellow-circle {
    margin-left: 30px;
  }
  #about .yellow-circle .text {
    width: 170px;
    height: 170px;
  }
  #about .yellow-circle .text h4 {
    font-size: 20px;
  }
}
@media screen and (min-width: 1400px) {
  #about .box .textbox {
    width: 530px;
  }
  #about .box .imgbox {
    width: 190px;
    height: 190px;
  }
  #about .box1 .imgbox, #about .box3 .imgbox {
    margin-left: 40px;
  }
  #about .box2 .textbox, #about .box4 .textbox {
    padding-left: 40px;
  }
  #about .yellow-circle {
    margin-left: 40px;
  }
  #about .yellow-circle .text {
    width: 190px;
    height: 190px;
  }
  #about .yellow-circle .text h4 {
    font-size: 24px;
  }
}

#team {
  background-color: #f8f9fa;
}
#team .box {
  margin-bottom: 50px;
}
#team .box .imgbox {
  width: 225px;
  border: 8px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 50%;
}
#team .box .textbox h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 25px 0 10px;
}
#team .box .textbox h4 {
  color: #6c757d;
  font-size: 20px;
  margin-bottom: 20px;
}
#team .box .textbox li .icon {
  width: 40px;
  height: 40px;
  background-color: #212529;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  cursor: pointer;
}
#team h5 {
  color: #6c757d;
  font-size: 20px;
  padding: 0 150px;
}
@media screen and (max-width: 992px) {
  #team .box {
    margin-bottom: 50px;
  }
  #team h5 {
    padding: 0;
  }
}

#companies {
  padding: 50px 0;
}
#companies .microsoft {
  max-width: 200px;
}
#companies .google {
  max-width: 120px;
}
#companies .facebook {
  max-width: 165px;
}
#companies .ibm {
  max-width: 110px;
}
@media screen and (max-width: 992px) {
  #companies .imgbox {
    margin-bottom: 25px;
  }
}

#contact {
  background-color: #212529;
  background-image: url(assets/map-image.png);
  background-repeat: no-repeat;
  background-position: center center;
}
#contact .box input {
  width: 100%;
  padding: 20px;
  margin-bottom: 25px;
}
#contact textarea {
  width: 100%;
  height: 230px;
  padding: 20px;
  border-radius: 8px;
  cursor: text;
}
#contact input::-moz-placeholder, #contact textarea::-moz-placeholder {
  font-size: 18px;
  color: #6c757d;
}
#contact input:-ms-input-placeholder, #contact textarea:-ms-input-placeholder {
  font-size: 18px;
  color: #6c757d;
}
#contact input::placeholder, #contact textarea::placeholder {
  font-size: 18px;
  color: #6c757d;
}
#contact .btn {
  padding: 20px 45px;
  background-color: #ffc800;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  opacity: 0.65;
  margin-top: 30px;
  transition: 500ms opacity;
}
#contact .btn:hover {
  opacity: 1;
}

footer {
  padding: 24px 0;
}
footer h3, footer h4, footer h5 {
  color: #212529;
  font-weight: 300;
  font-size: 18px;
}
footer h4, footer h5 {
  cursor: pointer;
}
footer h4 {
  margin-right: 10px;
}
footer ul li .icon {
  width: 40px;
  height: 40px;
  background-color: #212529;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  footer .box {
    flex-direction: column;
  }
  footer .box ul {
    margin: 15px 0;
  }
}/*# sourceMappingURL=style.css.map */