body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

header {
  background-color: #212529;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
header .menu {
  padding: 30px 0;
}
header .menu .imgbox {
  width: 200px;
}
header .menu nav a {
  font-size: 18px;
  font-weight: 300;
  margin-right: 20px;
  transition: 300ms color;
  cursor: pointer;
}
header .menu nav a:hover {
  color: #ffc800;
}
header .menu .icon {
  font-size: 25px;
  color: #fff;
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  header .menu {
    padding: 18px 0;
  }
  header .menu nav {
    display: none;
  }
  header .menu .icon {
    display: block;
  }
}

#welcome {
  min-height: 70vh;
  background-image: url(assets/header-bg.jpg);
  background-position: center center;
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: center;
}
#welcome .textbox h1 {
  font-size: 30px;
  font-style: italic;
}
#welcome .textbox h3 {
  font-size: 75px;
  font-weight: 700;
  margin: 30px 0 50px;
}
#welcome .textbox .btn {
  padding: 20px 55px;
  background-color: #ffc800;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  transition: 300ms background-color;
}
#welcome .textbox .btn:hover {
  background-color: #d9aa00;
}
@media screen and (max-width: 768px) {
  #welcome .textbox h1 {
    font-size: 25px;
  }
  #welcome .textbox h3 {
    font-size: 45px;
  }
}

#services {
  padding: 80px 0;
}
#services h1 {
  font-size: 45px;
  color: #212529;
  font-weight: 700;
}
#services h3 {
  margin: 20px 0 55px;
  color: #6c757d;
  font-style: italic;
  font-size: 20px;
}
#services .textbox {
  padding: 0 35px;
}
#services .textbox .icon {
  width: 130px;
  height: 130px;
  line-height: 130px;
  border-radius: 50%;
  color: #fff;
  font-size: 55px;
  background-color: #ffc800;
  display: inline-block;
}
#services .textbox h2 {
  margin: 20px 0;
  font-weight: 700;
  font-size: 24px;
}
#services .textbox p {
  color: #6c757d;
  line-height: 1.65;
}
@media screen and (max-width: 768px) {
  #services .textbox p {
    margin-bottom: 20px;
  }
}

#portfolio {
  background-color: #f8f9fa;
  padding: 80px 0;
}
#portfolio h1 {
  font-size: 45px;
  color: #212529;
  font-weight: 700;
}
#portfolio h3 {
  margin: 20px 0 55px;
  color: #6c757d;
  font-style: italic;
  font-size: 20px;
}
#portfolio .box {
  margin-bottom: 25px;
}
#portfolio .box .imgbox {
  position: relative;
}
#portfolio .box .imgbox:hover .hover {
  opacity: 1;
}
#portfolio .box .imgbox .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 200, 0, 0.9019607843);
  opacity: 0;
  cursor: pointer;
  transition: 300ms opacity;
}
#portfolio .box .imgbox .hover .icon {
  font-size: 50px;
  color: #fff;
}
#portfolio .box .textbox {
  padding: 20px;
  background-color: #fff;
}
#portfolio .box .textbox h2 {
  font-size: 24px;
  font-weight: 700;
}
#portfolio .box .textbox h4 {
  font-size: 20px;
  color: #6c757d;
}/*# sourceMappingURL=style.css.map */